.product-info {
  width: 100%;
  position: relative;
  max-height: "max-content";
}
.product-details{
  margin-bottom: 8rem;
}
@media only screen and (max-width: 650px) {
  .product-info {
    width: fit-content;
  }
  .product-images{
      padding: 0px;
  }
  .product-details{
      padding-right: 0px;
  }
}
